################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/stockpicker app/CopilotIndices/17.14.1290.42047
/.vs/stockpicker app/FileContentIndex
